<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
    <base rel="stylesheet" type="text/css" href="./css.css">
  </head>
  <body style="text-align: center; font-family:Arial, Helvetica, sans-serif">
    {% block body %}
  
    {% if messages %}
    <div class="baseheader">
      <div>
        <strong>Messages:</strong>
        <ul>
          {% for message in messages %}
          <li>{{message}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
  
      
    </div>
    <div class="baseContent" class="sucess_reset" style="width: 100%;display: flex; justify-content: center; align-items: center; flex-direction: column;">
      {% block content %}
    </div>
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
